<!-- <app-header (featureSelected)="onNavigate($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipes *ngIf="loadedFeature==='recipe'"></app-recipes>
      <app-shopping-list *ngIf="loadedFeature!=='recipe'"></app-shopping-list>
      <select (change)="OnChangeState($event)">
        <option>--select state--</option>
        <option *ngFor="let st of state" >{{st.id}}</option>
      </select>
      <select>
        <option>value2</option>
      </select>
    </div>
  </div>
</div> -->
<!-- <app-home></app-home> -->
<div class="container">
  <router-outlet></router-outlet>

</div>